.postBox{
    max-width: 550px;
    position: relative;
    left: 5%;
}

.postBox h2{
    font-family: 'Nunito';
    color: lightgray;
}

.postBox textarea{
    width: 90%;
    height: 100px;
    display: block;
    resize:none;
    font-size: 18px;
    font-family: 'Segoe UI';
}

.postBox button{
    width: 90%;
    height: 50px;
    margin-left: 3px;
    position: relative;
    top: 10px;
    border: none;
    font-size: 1.2em;
    font-family:'Arial';
    background: #41af41;
    color: white;
    cursor: pointer;
}

.postBox button:hover{
    box-shadow: 0 0 10px black;
}

.UserFeed .noposts{
    position: relative;
    left: 20%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Nunito';
    color: lightslategray;
}

.post{
    max-width: 550px;
    position: relative;
    margin-top: 10px;
    padding: 35px 10px;
    margin-bottom: 45px;
    background: white;
    font-family: 'Nunito';
}

img{
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.post .content{
    display: inline-block;
    padding: 20px;
}

.post h3{
    position: absolute;
    top: 0%;
    color: darkblue;
    cursor: pointer;
}

.post h3:hover{
    box-shadow: 0 0 5px black;
}

.post h5{
    position: absolute;
    top: 10%;
    color: gray;
}

.post p{
    max-width: 270px;
    overflow-wrap: break-word;
    position: absolute;
    top: 25%;
    font-family: 'Arial';
    font-size: 1.0em;
}

.post .delete{
    position: absolute;
    left: 92%;
    top: 6%;
    border: none; 
    background: white;
    font-size: 1.3em;
    font-family: 'Trebuchet MS';
    font-weight: bolder;
    color: red;
    outline: none;
    cursor: pointer;
}

.post .delete:hover{
    box-shadow: 0 0 5px lightgray;
}

.likeSection{
    padding: 10px;
}

.likeSection .like{
    position: relative;
    top: 55px;
    right: 175px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    border: none;
    background: black;
    outline: none;
    cursor:pointer;
}

.likeSection .likesMsg{
    position: relative;
    display: inline-block;
    top: 55px;
    right: 170px;
    font-size: 14px;
    font-family: 'Segoe UI';
}

.likeSection .likedByLink{
    text-decoration: none;
}

.likeSection .likedByLink:hover{
    color: gray;
}

.commentSection .commentButton{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    right: 170px;
    top: 50px;
    font-size: 14px;
    font-family: 'Segoe UI';
    background: white;
    color: grey;
    border: none;
    outline: none;
    cursor:pointer;
}

.commentSection .commentButton:hover{
    box-shadow: 0 0 5px lightgray;
}

.commentSection .commentCount{
    position: absolute;
    right: 0%;
    top: 100%;
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
    font-family:'Arial';
    color:blue;
    text-align: right;
    background: lightblue;
}

.commentSection .commentsListLink{
    margin-right: 20px;
    color: blue;
    cursor: pointer;
}

.commentSection .commentsListLink:hover{
    color: gray;
}

.UserFeed .profileCard{
    visibility: hidden;
    position: absolute;
    left: 80%;
    top: 15%;
    cursor: auto;
}

.UserFeed .uploadImage{
    display: none;
}

@media screen and (min-width: 600px){
    .UserFeed .noposts{
        left: 22%;
    }
}


@media screen and (min-width: 700px){
    .postBox{
        left: 4%;
    }

    .UserFeed .profileCard{
        visibility: visible;
        left: 90%;
    }

    .UserFeed .noposts{
        left: 20%;
    }
}

@media screen and (min-width: 800px){
    .postBox{
        left: 3%;
    }

    .UserFeed .noposts{
        left: 16%;
    }

    .UserFeed .profileCard{
        visibility: visible;
        left: 80%;
    }
}


@media screen and (min-width: 900px){
    .postBox{
        left: 2%;
    }

    .UserFeed .noposts{
        left: 14%;
    }

    .UserFeed .profileCard{
        left: 70%;
    }
}

@media screen and (min-width: 1050px){
    .UserFeed .profileCard{
        left: 65%;
    }

    .UserFeed .noposts{
        left: 12%;
    }
}

@media screen and (min-width: 1250px){
    .UserFeed .profileCard{
        left: 55%;
    }

    .UserFeed .noposts{
        left: 10%;
    }
}


@media screen and (min-width: 1350px){
    .UserFeed .noposts{
        left: 8%;
    }
}