.UserFeed .PostBox{
    position: relative;
    left: 5%;
}

.UserFeed .PostBox textarea{
    width: 90%;
    height: 100px;
    display: block;
    overflow-y: scroll;
    resize:none;
    font-size: 18px;
    font-family: 'Segoe UI';
}

.UserFeed .PostBox h2{
    font-family: 'Nunito';
    color: lightgray;
}

.UserFeed .PostBox button{
    width: 90%;
    height: 50px;
    position: relative;
    top: 10px;
    border: none;
    font-size: 1.2em;
    font-family:'Arial';
    background: #41af41;
    color: white;
    cursor: pointer;
}

.UserFeed .PostBox button:hover{
    box-shadow: 0 0 10px black;
}

.UserFeed .Post{
    margin-top: 10px;
    padding: 10px;
    background: white;
    font-family: 'Nunito';
}

.UserFeed .Post h4{
    color: gray;
}

.UserFeed .Post p{
    font-family: 'Arial';
}