.likesPage .userContainer{
    max-width: 650px;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
    background: white;
}

.likesPage img{
    width: 100px;
    height: 100px;
}

.likesPage p{
    font-weight: bold;
    color: darkblue;
    position: absolute;
    display: inline-block;
    font-family: 'Nunito';
    font-size: 20px;
    left: 150px;
    top: 40px;
}

@media screen and (min-width: 600px){
    .Navbar .backButton{
        left: 5%;
    }
}

@media screen and (min-width: 700px){
    .userContainer{
        left: 3%;
    }
}

@media screen and (min-width: 750px){
    .userContainer{
        left: 7%;
    }
}


@media screen and (min-width: 800px){
    .userContainer{
        left: 12%;
    }
}

@media screen and (min-width: 900px){
    .userContainer{
        left: 17%;
    }
}

@media screen and (min-width: 1000px){
    .userContainer{
        left: 22%;
    }
}

@media screen and (min-width: 1150px){
    .userContainer{
        left: 26%;
    }
}

@media screen and (min-width: 1350px){
    .userContainer{
        left: 29%;
    }
}