.Navbar .backButton{
    position: absolute;
    z-index:1;
    top: 23%;
    left: 7%;
    font-weight: bolder;
    font-size: 30px;
    color: white;
    text-decoration: none;
}


.Navbar .commentsHeader{
    position: relative;
    color: white;
    font-family: 'Nunito';
    font-size: 20px;
    right: 20px;
    top: 25px;
}

.commentsPage .nocomments{
    position: relative;
    left: 27%;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Nunito';
    color: lightslategray;
}

.commentsPage textarea{
    position: fixed;
    max-width: 600px;
    width: 90%;
    height: 70px;
    left: 5%;
    top: 88%;
    font-size: 18px;
    font-family: 'Segoe UI';
    resize: none;
    z-index: 1;
}

.comment{
    max-width: 650px;
    position: relative;
    height: 300px;
    margin-top: 10px;
    padding: 10px;
    background: beige;
    font-family: 'Nunito';
}

.comment:last-child{
    margin-bottom: 100px;
}

.comment img{
    width: 150px;
    height: 150px;
}

.comment h3{
    position: absolute;
    display: inline-block;
    top: 0;
    margin-left: 5px;
    left: 165px;
    color: darkblue;
}

.comment h5{
    position: absolute;
    display: inline-block;
    margin-left: 5px;
    top: 30px;
    left: 165px;
    font-family: 'Arial';
    color: gray;
}

.comment p{
    position: absolute;
    margin-left: 5px;
    max-width: 290px;
    overflow-wrap: break-word;
    display: inline-block;
    left: 165px;
    top: 60px;
    font-family: 'Arial'; 
}

.comment .delete{
    position: absolute;
    top: 5%;
    left: 92%;
    border: none;
    font-size: 1.3em;
    font-weight:bolder;
    font-family: 'Trebuchet MS';
    color: red;
    background: beige;
    cursor: pointer;
    outline: none;
}

.comment .delete:hover{
    box-shadow: 0 0 5px lightgray;
}

@media screen and (min-width: 500px){
    .commentsPage .nocomments{
        left: 29%;
    }
}

@media screen and (min-width: 600px){
    .Navbar .backButton{
        left: 5%;
    }
    
    .commentsPage .nocomments{
        left: 31%;
    }
}

@media screen and (min-width: 700px){
    .commentsPage .nocomments{
        left: 33%;
    }

    .comment{
        left: 1%;
    }

    .commentsPage textarea{
        left: 7%;
    }
}

@media screen and (min-width: 750px){
    .commentsPage .nocomments{
        left: 35%;
    }

    .comment{
        left: 5%;
    }

    .commentsPage textarea{
        left: 10%;
    }
}


@media screen and (min-width: 800px){
    .commentsPage .nocomments{
        left: 38%;
    }

    .comment{
        left: 10%;
    }

    .commentsPage textarea{
        left: 15%;
    }
}

@media screen and (min-width: 900px){
    .commentsPage .nocomments{
        left: 40%;
    }

    .comment{
        left: 15%;
    }

    .commentsPage textarea{
        left: 18%;
    }
}

@media screen and (min-width: 1000px){
    .comment{
        left: 20%;
    }

    .commentsPage textarea{
        left: 23%;
    }
}

@media screen and (min-width: 1150px){
    .comment{
        left: 24%;
    }

    .commentsPage textarea{
        left: 26%;
    }
}

@media screen and (min-width: 1350px){
    .commentsPage .nocomments{
        left: 42%;
    }

    .comment{
        left: 27%;
    }

    .commentsPage textarea{
        left: 29.5%;
    }
}