.profileCard{
    position: relative;
    left: 5%;
    width: 400px;
    padding: 50px 20px;
    background:white;
}

.profileImage .imageContainer, .profileImage img{
    position:relative;
    left: 10%;
    width: 300px;
    height: 300px;
    border: solid #6262b4;
    border-radius: 150px;
}

.uploadImage label{
    position: absolute;
    width: 300px;
    height: 110px;
    top:37.5%;
    left: 14%;
    padding-top: 40px;
    text-align: center;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 145px;
    border-bottom-right-radius: 145px;
    opacity: 0.5;
    font-size: 18px;
    font-family: 'Nunito';
    background: gray;
    outline: none;
    cursor: pointer;
}

.profileCard p{
    position: relative;
    left: 35%;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nunito';
    color: #6262b4;
}

.profileCard .editProfile{
    position: relative;
    left: 25%;
    top: 30%;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Nunito';
    background: lightgray;
    outline: none;
    cursor: pointer;
}