.profileCard{
    position: relative;
    left: 3%;
    width: 400px;
    padding: 50px 20px;
    margin-bottom: 50px;
    background:white;
}

.profileImage img{
    position:relative;
    left: 10%;
    width: 300px;
    height: 300px;
    border: solid #6262b4;
    border-radius: 150px;
}

.uploadImage label{
    position: absolute;
    width: 302px;
    height: 110px;
    top:202px;
    left: 14%;
    padding-top: 40px;
    text-align: center;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 145px;
    border-bottom-right-radius: 145px;
    opacity: 0.5;
    font-size: 18px;
    font-family: 'Nunito';
    background: gray;
    outline: none;
    cursor: pointer;
}

.profileCard p{
    position: relative;
    left: 35%;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nunito';
    color: black;
}

.profileBio p{
    position: relative;
    top: 10px;
    left: 25%;
    max-width: 210px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Arial';
    color: black;
}

.profileBio .editProfile{
    position: relative;
    left: 25%;
    top: 30%;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Nunito';
    background: lightgray;
    outline: none;
    cursor: pointer;
}

.profileBio textarea{
    position: relative;
    left: 23%;
    font-size:16px;
    font-family: 'Arial';
    width: 200px;
    height: 100px;
    resize: none;
}

.profileBio .cancelButton, .profileBio .saveButton{
    display: inline-block;
    width: 80px;
    height: 50px;
    position: relative;
    left: 25%;
    top: 15px;
    font-size: 20px;
    font-family:'Nunito';
    border: none;
    color: white;
    background: lightslategray;
    cursor: pointer;
}

.profileCard .cancelButton:hover, .profileCard .saveButton:hover{
    box-shadow: 0 0 5px black;
}

.profileCard .saveButton{
    display: inline-block;
    position: relative;
    left: 33%;
    bottom: 20px;
    background: #6262b4;
}

.Profile .noposts{
    position: relative;
    left: 18%;
    font-size: 22px;
    margin-bottom: 50px;
    font-weight: bold;
    font-family: 'Nunito';
    color: lightslategray;
}

@media screen and (min-width: 515px){
    .profileCard{
        left: 5%;
    }
}

@media screen and (min-width: 570px){
    .profileCard{
        left: 10%;
    }

    .Profile .noposts{
        left: 21%;
    }
}

@media screen and (min-width: 620px){
    .profileCard{
        left: 14%;
    }

    .Profile .noposts{
        left: 26%;
    }

    .Profile .post{
        left: 3%;
    }
}

@media screen and (min-width: 670px){
    .Profile .post{
        left: 4%;
    }
}

@media screen and (min-width: 705px){
    .profileCard{
        left: 17%;
    }

    .Profile .noposts{
        left: 30%;
    }

    .Profile .post{
        left: 8%;
    }
}

@media screen and (min-width: 800px){
    .profileCard{
        left: 21%;
    }

    .Profile .noposts{
        left: 32%;
    }

    .Profile .post{
        left: 11%;
    }
}

@media screen and (min-width: 900px){
    .profileCard{
        left: 25%;
    }

    .Profile .noposts{
        left: 34%;
    }

    .Profile .post{
        left: 16%;
    }
}

@media screen and (min-width: 1000px){
    .profileCard{
        left: 28%;
    }

    .Profile .noposts{
        left: 36%;
    }

    .Profile .post{
        left: 20%;
    }
}

@media screen and (min-width: 1100px){
    .profileCard{
        left: 33%;
    }

    .Profile .noposts{
        left: 39%;
    }

    .Profile .post{
        left: 26%;
    }
}

@media screen and (min-width: 1250px){
    .profileCard{
        left: 35%;
    }

    .Profile .noposts{
        left: 40%;
    }

    .Profile .post{
        left: 30%;
    }
}