.profileCard{
    position: relative;
    left: 5%;
    width: 400px;
    padding: 50px 20px;
    background:white;
}

.profileImage img{
    position:relative;
    left: 10%;
    width: 300px;
    height: 300px;
    border: solid #6262b4;
    border-radius: 150px;
}

.uploadImage label{
    position: absolute;
    width: 302px;
    height: 110px;
    top:202px;
    left: 14%;
    padding-top: 40px;
    text-align: center;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 145px;
    border-bottom-right-radius: 145px;
    opacity: 0.5;
    font-size: 18px;
    font-family: 'Nunito';
    background: gray;
    outline: none;
    cursor: pointer;
}

.profileCard p{
    position: relative;
    left: 35%;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Nunito';
    color: black;
}

.profileBio p{
    position: relative;
    top: 10px;
    left: 25%;
    max-width: 210px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Arial';
    color: black;
}

.profileBio .editProfile{
    position: relative;
    left: 25%;
    top: 30%;
    width: 200px;
    height: 50px;
    border: none;
    font-size: 20px;
    font-family: 'Nunito';
    background: lightgray;
    outline: none;
    cursor: pointer;
}

.profileBio textarea{
    position: relative;
    left: 23%;
    font-size:16px;
    font-family: 'Arial';
    width: 200px;
    height: 100px;
    resize: none;
}

.profileBio .cancelButton, .profileBio .saveButton{
    display: inline-block;
    width: 80px;
    height: 50px;
    position: relative;
    left: 25%;
    top: 15px;
    font-size: 20px;
    font-family:'Nunito';
    border: none;
    color: white;
    background: lightslategray;
    cursor: pointer;
}

.profileCard .cancelButton:hover, .profileCard .saveButton:hover{
    box-shadow: 0 0 5px black;
}

.profileCard .saveButton{
    display: inline-block;
    position: relative;
    left: 33%;
    bottom: 20px;
    background: #6262b4;
}
